[submodule ".\\src\\HashNeRF-pytorch"]
	path = .\\src\\HashNeRF-pytorch
	url = https://github.com/Kaszanas/HashNeRF-pytorch.git
[submodule ".\\src\\instant-ngp"]
	path = .\\src\\instant-ngp
	url = https://github.com/Kaszanas/instant-ngp.git
